#root {
  margin: 40px 74px;
}

body {
  
  width: 100vw;
  background: hsla(0, 0%, 4%, 1);
  margin: auto;
   color: hsla(0, 0%, 89%, 1); 

}

.animate {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.sticky {
  position: sticky;
  top: 0;
}